<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>BUY_WEBVIEW_URL</key>
	<string>$(BUY_WEBVIEW_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Blockchain</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Blockchain</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.22.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.blockchain.Blockchain</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bitcoin</string>
				<string>blockchain-wallet</string>
				<string>blockchain</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>COINIFY_URL</key>
	<string>$(COINIFY_URL)</string>
	<key>EXPLORER_SERVER</key>
	<string>$(EXPLORER_SERVER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This is required for the app to scan QR codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you to securely access your wallet.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Blockchain needs access to your location to show you nearby businesses that accept Bitcoin.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Required for video capture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your permission is needed in order to upload documents from your photo library.</string>
	<key>EXCHANGE_URL</key>
	<string>$(EXCHANGE_URL)</string>
	<key>RETAIL_CORE_SOCKET_URL</key>
	<string>$(RETAIL_CORE_SOCKET_URL)</string>
	<key>RETAIL_CORE_URL</key>
	<string>$(RETAIL_CORE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WALLET_SERVER</key>
	<string>$(WALLET_SERVER)</string>
	<key>WEBSOCKET_SERVER</key>
	<string>$(WEBSOCKET_SERVER)</string>
	<key>WEBSOCKET_SERVER_BCH</key>
	<string>$(WEBSOCKET_SERVER_BCH)</string>
	<key>WEBSOCKET_SERVER_ETH</key>
	<string>$(WEBSOCKET_SERVER_ETH)</string>
</dict>
</plist>
